.font-small{
    font-size: small;
}

.font-extra-small{
    font-size: x-small;
}

.bg-green {
    background-color: #10CB00;
}

.bg-pink {
    background-color: #FF9F9F;
}

.bg-pink-v2 {
    background-color: #E1ACAC;
}

.bg-pink-v3 {
    background-color: #A87676;
}

.bg-pink-v4 {
    background-color: #E1ACAC;
}

.bg-grey {
    background-color: grey;
}

.text-white {
    color: white;
}
.text-dark-grey {
    color: #686D76;
}
.text-green {
    color: #10CB00;
}

.text-dark-pink{
    color: #FF0080;
}

.outline-green {
    outline: thin solid #10CB00;
}

.outline-pink {
    outline: thin solid #FF9F9F;
}

.outline-grey {
    outline: thin solid grey;
}

.hover-green {
    color: white; 
    transition: color 0.3s ease;
}

.hover-green:hover {
    color: #10CB00;
}

.hover-pink {
    color: white; 
    transition: color 0.3s ease;
}

.hover-pink:hover {
    color: #FF9F9F;
}

.hover-grey {
    color: white; 
    transition: color 0.3s ease;
}

.hover-grey:hover {
    color: grey;
}

.container-custom {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%;
    min-width: 20em;
}

.navbar {
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link:hover {
    color: #10CB00;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
}

.navbar-nav .btn-login {
    margin-left: auto;
}

.landing-page {
    display: flex;
    background-image: url('../img/bg-image.png');
    min-height: 24em;
    background-size: cover;
    margin-top: 3.5em;
}

.landing-page-result {
    display: flex;
    min-height: 29em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.landing-page-package {
    display: flex;
    min-height: 20em;
}

.landing-page-testimoni {
    display: flex;
    min-height: 18em;
}

.landing-page-CTA {
    display: flex;
    height: 24em;
}

.our-service {
    display: flex;
    min-height: min-content;
    margin-top: 3.5em;
    padding-top: 2em;
    z-index: 1;
    padding-bottom: 3.5em;
}

.our-service .container{
    padding-left: 4em;
    padding-right: 4em;
}

.profile {
    display: flex;
    min-height: 30em;
    padding-top: 3.5em;
}

.footer {
    display: flex;
    min-height: 18em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.copyright {
    min-height: 2em;
    padding-left: 1em;
}

.img-woman {
    max-width: 46%;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex: 1;
}

.column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#btn-login:hover {
    color: #10CB00;
    background-color: white;
}

#btn-booking:hover {
    color: #FF9F9F;
    background-color: white;
}

.col-content {
    height: 100%;
    flex: 1;
}

.mt-auto {
    margin-top: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
}

@media (max-width: 991.98px) {
    .navbar-nav {
        margin-left: 0;
        margin-right: 0;
        gap: 0.2em;
        flex-direction: column;
    }
    .navbar-nav .btn-login {
        margin-left: 0;
        margin-top: 2em;
        margin-bottom: 2em;
    }

}